body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Calibri, sans-serif
}

.mainPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

footer {
    text-align: center;
    color: #585757;
}

/* game grid */

.gridTitle {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.gridContainer {
    max-height: 90vh;
    background-color: #fafafa;
    border: 20px solid #E3E3E3;
    border-radius: 5%;
}

.gridContainerDark {
    background-color: #464040;
    border: 20px solid #6d6c6c;
}

.row {
    display: flex;
    flex: 1;
    max-width: 70vh;
    max-height: 20px;
}

.box {
    border: 1px solid #E3E3E3;
    width: 20px;
    height: 20px;
}

.smallBox {
    border: 1px solid #E3E3E3;
    width: 10px;
    height: 10px;
}

.hovered {
    background-color: #7c7c7c;
}


/*sidebar items */
.sideItems {
    display: flex;
    flex-direction: column;
    background-color: #E3E3E3;
    border: 20px solid #E3E3E3;
    border-radius: 10%;
    padding: 10px;
    
}

form {
    text-align: center;    
}

input {
    border: 1px solid #E3E3E3;
}

button {
    font-family: Calibri, sans-serif;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #E3E3E3;
    padding: 5px;
    outline: none;
    cursor: pointer;    
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
  background-color: black;
  box-shadow: 0 2px 2px #666;
  transform: translateY(4px);
}


